/* Container styles */
.container {
  width: 200px;
  height: 200px;
  border: 1px solid;
  position: relative;
}

.container div {
  position: absolute;
  border-radius: 0 70% 40% 70%;
  border: 1px solid;
  width: 120px;
  height: 120px;
  /* Position these in the center */
  left: 10px;
  top: 50px;
  /* Rotate 45 deg points the point at the top */
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* Move the point of transformation to the lower right */
  -webkit-transform-origin: 90px 90px;
          transform-origin: 90px 90px;
  -webkit-animation-duration: 6000ms;
          animation-duration: 6000ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  /* Important! Without this the elements will snap
    to their starting positions when the animation ends! */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.container div:nth-child(1) {
  background-color: rgba(204, 255, 0, 0.2);
  -webkit-animation-name: bloom-1;
          animation-name: bloom-1;
}

.container div:nth-child(2) {
  background-color: rgba(0, 255, 102, 0.2);
  -webkit-animation-name: bloom-2;
          animation-name: bloom-2;
}

.container div:nth-child(3) {
  background-color: rgba(0, 102, 255, 0.2);
  -webkit-animation-name: bloom-3;
          animation-name: bloom-3;
}

.container div:nth-child(4) {
  background-color: rgba(204, 0, 255, 0.2);
  -webkit-animation-name: bloom-4;
          animation-name: bloom-4;
}

.container div:nth-child(5) {
  background-color: rgba(255, 0, 0, 0.2);
  -webkit-animation-name: bloom-5;
          animation-name: bloom-5;
}

@-webkit-keyframes bloom-1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes bloom-1 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes bloom-2 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes bloom-2 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes bloom-3 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes bloom-3 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes bloom-4 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes bloom-4 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes bloom-5 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

@keyframes bloom-5 {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body, html {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */